title: "Dr. O. Rama Devi"
description: "Professor | Artificial Intelligence & Data Science | Researcher | Author"
theme: minimal

url: "https://oduguramadevi.github.io"
baseurl: ""

markdown: kramdown
kramdown:
  input: GFM

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
